* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 2%;
}

.container {
    border: 1px solid black;
    max-width: 80vw;
    min-height: 50vh;
    margin-inline: auto; /* centers the container horizontally */
    display: flex;
    justify-content: space-evenly;
    align-items: center;  /* centers the boxes vertically */
}

.box {
    min-width: 10vw;
    height: 20vh;
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center; /* centers content horizontally */
    align-items: center; /* centers content vertically */
}